@import '../../utils/styles/animations';
.pokemonList {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0.625rem;   
}

.pokemonList > .pokemonCard {
    flex-basis: calc(50% - 20px);
    margin: 0.5rem 0.625rem;
    cursor: pointer;
}

.myPokemonCount {
    padding-top: 1rem;
    padding-left: 1rem;
    min-height: 1rem;
    width: 100%;
    > span:last-child {
        padding-left: 0.625rem;
    }
}