@import "../../utils/styles/mixins";

.button {
    border: none;
    background-color: #bebebe;
    border-radius: 2px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    cursor: pointer;
    outline: none;
    user-select: none;
    &.is-rounded {
        border-radius: 50%;
        min-height: 50px;
    }

    &:active {
        box-shadow: inset 0px 0px 5px #8481815c;
    }
}