@import "../../utils/styles/mixins";

.myPokemonContainer > .savedPokemonCount {
    margin: 0;
    padding: 1rem 0;
    padding-left: 1rem;
}

.myPokemonContainer > .characterListContainer {
    > .characterContainer {
        border-bottom: 1px solid #bebebe;
        padding: 0.625rem;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        > .characterWrapper {
            cursor: pointer;
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 14.375rem;
            @include respond-to("medium") {
                max-width: 21.875rem;
            }
        }
        > .characterWrapper > .characterImage {
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            max-width: 6.25rem;
            padding-top: 30%;
        }
        > .characterWrapper > .characterInfo {
            font-size: 0.875rem;
        }
        > .characterWrapper > .characterInfo > .characterNickname {
            display: block;
        }
        > .characterRemoveButton {
            cursor: pointer;
            height: 1.25rem;
            width: 1.25rem;
            margin: 0 0.5625rem;
        }
    }

    > .characterContainer:first-child {
        border-top: 1px solid #bebebe;
    }

}

.myPokemonContainer > .emptyCharacterListMessage {
    text-align: center;
    margin: 0;
    padding: 5rem 0;
}

.removedModal {
    text-align: center;
}