// Sizes
$max-app-width: 480px;

// Colors
$gray-linear-gradient: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
$red: rgb(255, 102, 102);
$blue: rgb(99, 109, 245);

// Breakpoints
$breakpoints: (
  "medium": (
    min-width: 800px,
  ),
  "large": (
    min-width: 1000px,
  ),
  "huge": (
    min-width: 1200px,
  ),
);
