@import "../../utils/styles/variables";
@import "../../utils/styles/mixins";

.layoutContainer {
    margin: 0 auto;
    background-color: #f3f3f3;
    min-height: calc(100vh - 2.5rem);
    position: relative;
}
.layoutContainer > main {
    margin-top: 2.5rem;
}

@include respond-to("medium") {
    .layoutContainer {
        max-width: $max-app-width;
    }
}