@import "../../utils/styles/variables";
@import "../../utils/styles/animations";

.cardContainer {
    border-radius: 20px;
    min-width: 3.125rem;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(49,53,59,.12);
    &:hover {
        box-shadow:0 1px 10px 0 rgba(49,53,59,.12);
    }
}

.cardContainer > .cardInfo {
    padding-top: .5rem;
    padding-left: .8rem;
    > p {
        margin: 0;
        text-transform: capitalize;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 2;
    }
    > .cardName {
        font-weight: 500;
    }
    > .cardId {
        color: #adadad;
    }
}

.cardContainer > .cardImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 66.66%;
    width: 75%;
    float: right;
}


.cardInfoLoadingParagraph {
    min-height: 1rem;
    max-width: calc(50% + .8rem);
    width: 100%;
}
.cardContainer.is-loading {
    > .cardInfo > .cardName {
        @extend .cardInfoLoadingParagraph;
        @extend .shineShimmer;
    }
    > .cardInfo > .cardId {
        display: block;
        max-width: calc(50% - 2rem);
        @extend .cardInfoLoadingParagraph;
        @extend .shineShimmer;
    }
    > .cardImage {
        display: block;
        width: 100%;
        max-width: calc(100% - .8rem);
        border-radius: 10px;
        padding-top: 40%;
        margin-top: 25%;
        margin-bottom: 0.4125rem;
        margin-right: 0.4125rem;
        background-image: $gray-linear-gradient !important;
        @extend .shineShimmer;
    }
}