@import "../../utils/styles/animations";
@import "../../utils/styles/mixins";

.pokemonDetailContainer > .characterHeaderContainer {
  padding-top: 1rem;
  padding-left: 1rem;
}
.characterHeaderContainer > .characterTitle {
  text-transform: capitalize;
  font-size: 1.875rem;
  margin: 0;
  &.is-fetching {
    min-height: 1.875rem;
    width: 100%;
    max-width: 100px;
    @extend .shineShimmer;
  }
}
.characterHeaderContainer > .characterId {
  margin: 0;
  &.is-fetching {
    display: block;
    margin-top: 0.3125rem;
    min-height: 1rem;
    width: 100%;
    max-width: 30px;
    @extend .shineShimmer;
  }
}

.characterInfoSheet > .characterChips {
  margin-right: 0.3125rem;
  margin-top: 0.5rem;

  &.is-fetching {
    min-height: 30px;
    width: 100%;
    max-width: 60px;
    @extend .shineShimmer;
  }
}

.infoSheetTitle {
  margin: 0;
  font-weight: 500;
  padding: 1rem 0 0.5rem;
}

.inlineInfo {
  display: inline-block;
  padding-right: 0.625rem;
  padding-bottom: 0;
}


.characterInfoSheet {
  position: relative;
  padding: 1rem 1rem 0.625rem;
  & .infoSheetTitleContainer > span.is-fetching {
    min-height: 16px;
    width: 100%;
    max-width: 60px;
    @extend .shineShimmer;
  }
  & .infoSheetTitleContainer > .infoSheetTitle {
    @extend .infoSheetTitle;
  }
  & .infoSheetTitleContainer > .infoSheetTitle.inlineInfo {
    @extend .inlineInfo;
  }
}

.characterInfoSheet > .catchButton {
  position: absolute;
  right: 2.8125rem;
  top: 1.25rem;
  z-index: 1;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  background-color: $red;
  color: #fafafa;
}

.nickNameInputModal {
  text-align: center;
  margin-top: 60px;
  padding-top: 0 !important;
  > h3 {
    margin-top: 0;
  }
  > span {
    font-weight: 600;
  }
  > .failedModalCharacterName {
    text-transform: capitalize;
  }
  & input {
    height: 1.875rem;
  }
  & label {
    font-weight: 400 !important;
    font-size: 1rem !important;
  }
  > .actionButtonContainer {
    padding-top: 1rem;
    float: right;
  }
  > .actionButtonContainer > button {
    height: 30px;
    background-color: $red;
    color: #ffffff;
    &:last-child {
      margin-left: 0.625rem;
      background-color: $blue;
    }
  }
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  &.is-fetching {
    @extend .shineShimmer;
  }
  > .swiper-slide-shadow-right {
    border-radius: 20px;
  }
  > .swiper-slide-shadow-left {
    border-radius: 20px;
  }
}