.modal {
    background-color: rgba(0,0,0,0.4); 
    z-index: 2; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0;
    left: 0;
    overflow: auto; 
    padding-top: 80px; 
}

.modalContent {
    background-color: white;
    width: 70%;
    max-width: 300px; 
    min-height: 250px;
    margin: auto; 
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px; 
}
.modalContent > .content {
    padding-top: 25px;
}

.closeButton {
   color: #aaaaaa;
   float: right; 
   font-size: 25px;
   font-weight: bold;
}
.closeButton:hover, 
.closeButton:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}