@import "../../utils/styles/variables";
@import "../../utils/styles/mixins";

.navbarContainer {
    z-index: 2;
    padding: 0.625rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    margin: 0 auto;
    &.has-boxShadow {
        box-shadow:  gainsboro 0px 0px 7px 1px;
    }

    @include respond-to("medium") {
        max-width: $max-app-width;
    }
}



.navbarContainer > svg {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: top;
    cursor: pointer;
}

.navbarContainer > .navbarTitle {
    display: inline-block;
    margin: 0;
    padding: 0 calc(50% - 4.15rem);
    font-size: 1.0625rem;
    &.is-listPage {
        padding-left: calc(50% - 2.9rem);
    }
}