@import "../../utils/styles/animations";

.pokeballContainer {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4); 
    > .pokeball {
        background-image: url('../../assets/Icons/pokeball.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        max-width: 25rem;
        padding-top: 56.25%;
        margin: auto;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        @extend .spinning;
    }
}