.textFieldContainer {
    width: 100%;
}
.textFieldContainer > input {
    margin: 0.3125rem 0 0;
    min-height: 1.5625rem;
    width: 100%;
    max-width: 15.625rem;
    border: 1px solid #bebebe;
    border-radius: 0.3125rem;
    padding-left: 0.3125rem;
    &:focus {
        outline-color: #72c2e7;
    }
}

.textFieldContainer > label {
    color: rgb(139, 139, 139);
    font-size: 0.8125rem;
    font-weight: 300;
}