.chipContainer {
    display: inline-block;
    border-radius: 1.25rem;
    background-color: #bebebe;
    padding: 5px;
}
.chipContainer > .chipText {
    margin: 0;
    text-align: center;
    width: 100%;
}