.sheetContainer {
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    overflow-y: auto;
}